<div class="album py-5 bg-light">
  <div class="container">
    <div class="row sortable data-id">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>