<div class="app-card-container">
  <div class="card">

    <h2>Would you like to work together?</h2>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h4>Phone</h4>
      
        <p><%= number_to_phone "5555555555" %></p>

        <h4>Email</h4>

        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6468.503867971721!2d139.64849552795548!3d35.
          84282552062768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ea8b47544e37%3A0x36b6757d69f19a50!2s336-0022!5e0!3m2!1sen!2sjp!4v1532056783066" 
          width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>